NODE_ENV=local
TAG=localhost

PROJECT_NAME=Demo

DEBUG=true

ERROR_EMAIL=true
ERROR_LOG_EMAIL=

HOMEPATH=http://localhost:5001
BASEPATH=

PORT=5001
SOCKET_PORT=4000 

SENDGRID_KEY=
SENDGRID_FROM_EMAIL=

DB_NAME=demo
DB_URL=mongodb://localhost:27017/
DB_USER=demo
DB_PASS=demo
            
REDIS_SERVER= localhost
REDIS_PORT=6379
REDIS_NAMESPACE= demo
REDIS_APP_NAME= demo

BASIC_AUTH_USERNAME=demo
BASIC_AUTH_PASS=demo
  
TWILIO_ACCOUNT_SID= 
TWILIO_AUTH_TOKEN=
TWILIO_TWILIO_NUMBER= 
TWILIO_AUTHY_API_KEY= 

ADMIN_EMAIL=admin@gmail.com 
ADMIN_PASSWORD=123456 
ADMIN_NAME=Admin 

S3_BUCKET_NAME=
IAM_ACCESS_KEY=
IAM_KEY_ID=

