
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style="
margin: 0;
padding: 0;
font-family: circe,sans-serif;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
">

    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="
padding: 40px 15px; background-image: url(img/bluebg.png); background-repeat: no-repeat;
    background-size: 452px;
    background-position: right top;">
        <tr>
            <td align="center">
                <img src="https://hrm-mob.s3.amazonaws.com/hrm/logo.png" alt="logo">
            </td>
        </tr>

        <tr>
            <td align="center">
                <img src="https://hrm-mob.s3.amazonaws.com/hrm/forgot-password.png" alt="forgot">
            </td>
        </tr>

        <tr>
            <td align="center">
                <h1 style="color: #0068FD;">Hi <%=name%></h1>
                <h2 style="margin-bottom: 0px;">FORGOT</h2>
                <h3 style="margin-top: 0px;">YOUR PASSWORD?</h3>
                <p><b>We were told that you forgot your password on Mobcoder Contacts Portal</b></p>
            </td>
        </tr>

        <tr>
            <td align="center">
                <a href="<%=link%>" style="
                display: inline-block;
                min-width: 160px;
                background: #0068FD;
                padding: 10px;
                color: #fff;
                text-decoration: none;
                border-radius: 30px;
                text-align: center;
                margin-top: 20px;
                ">Reset</a>
            </td>
        </tr>


        <tr>
            <td align="center">
                <br>
                <br>
                <br>
                <p>All right reserved. Mobcoder© 2014-2021</p>
            </td>
        </tr>

    </table>

</body>

</html>
